# Welcome to Lab: Favorites!

In this lab, you will explore several favorites of DISCOVERY, including the favorite things of your TA, Karle, and Wade!  This will **help you prepare for the mosaic project that was introduced in lecture on Wednesday**.

A few tips to remember:

- **You are not alone on your journey in learning programming!**  You have your lab TA, your CAs, your lab group, and the professors (Prof. Wade and Prof. Karle), who are all here to help you out!
- If you find yourself stuck for more than a few minutes, ask a neighbor or course staff for help!  When you are giving help to your neighbor, explain the **idea and approach** to the problem without sharing the answer itself so they can have the same **<i>ah-hah</i>** moment!
- We are here to help you!  Don't feel embarrassed or shy to ask us for help!

Let's get started!

In [1]:
# Meet your CAs and TA if you haven't already!
# ...first name is enough, we'll know who they are! :)
ta_name = "KUNLUN"
ca1_name = "Jai"
ca2_name = "Gerald"
ca3_name = ""


# Say hello to each other!
# - Groups of 3 are ideal :)
# - However, groups of 2 or 4 are fine too!
#
# Question of the Day (QOTD) to Ask Your Group: "What is your TV show/movie?"
partner1_name = "Christ Goncalves"
partner1_netid = "christg2"
partner1_fav = "STAR WARS"

partner2_name = "Beichen Hu"
partner2_netid = "beichen7"
partner2_fav = "Harry Potter"

partner3_name = ""
partner3_netid = ""
partner3_fav= ""

<hr style="color: #DD3403;">

# Part 1: Karle's Game Day!

One of Karle's favorite events is tailgating before Illini football games! The best part of tailgating is obviously the food and drinks ðŸ˜‰. Because Karle is an extrovert, she invites **many** people to her parties. For the upcoming game against Purdue this Saturday (Go Illini!ðŸŸ ðŸ”µ), she needs to mix "mocktails" in gallons for all of her guests.  In this part of the lab, you will write a simulation to help simulate the possible drinks available at Karle's tailgate.

A "mocktail" has three ingredients:
- A `mixer`, one of: `"cranberry juice"`, `"lime juice"`, `"lemonade"`, `"kool-aid"`, or `"red bull"` (gross!)
- A `fruit`, one of: `"watermelon"`, `"pineapple"`, `"lime"`, `"lemon"`, or `"cherry"` (yum!)
- A `core`, one of: `"sparkling water"`, `"sprite"`, and **add three other things** you should pick with your group to make five `"core"` component options!

Create a DataFrame called `df` containing **10,000** simulations of possible "mocktail" combinations:

*Hint: Make sure to import `random`!*

In [14]:
# Write your simulation:
import pandas as pd
import random

data = []
for i in range(10000):
    mixer = random.choice(["cranberry juice", "lime juice", "lemonade", "kool-aid", "red bull"])
    fruit = random.choice(["watermelon", "pineapple", "lime", "lemon", "cherry"])
    core = random.choice(["sparkling water", "sprite", "tonic water", "ginger ale", "club soda"])
    data.append({"mixer":mixer, "fruit":fruit,"core":core})
df = pd.DataFrame(data)
df

                mixer       fruit             core
0     cranberry juice   pineapple       ginger ale
1     cranberry juice  watermelon  sparkling water
2          lime juice  watermelon      tonic water
3          lime juice   pineapple       ginger ale
4            kool-aid  watermelon       ginger ale
...               ...         ...              ...
9995         kool-aid      cherry  sparkling water
9996         red bull        lime        club soda
9997         red bull   pineapple        club soda
9998  cranberry juice      cherry       ginger ale
9999         lemonade        lime           sprite

[10000 rows x 3 columns]

In [15]:
df

                mixer       fruit             core
0     cranberry juice   pineapple       ginger ale
1     cranberry juice  watermelon  sparkling water
2          lime juice  watermelon      tonic water
3          lime juice   pineapple       ginger ale
4            kool-aid  watermelon       ginger ale
...               ...         ...              ...
9995         kool-aid      cherry  sparkling water
9996         red bull        lime        club soda
9997         red bull   pineapple        club soda
9998  cranberry juice      cherry       ginger ale
9999         lemonade        lime           sprite

[10000 rows x 3 columns]

### ðŸ”¬ Test Case Checkpoint ðŸ”¬

In [16]:
## == CHECKPOINT TEST CASES: Karle's Game Day ==
# - This read-only cell contains test cases for your previous cell.
# - If this cell runs without any errors, you PASSED all test cases!
# - If this cell results in any errors, check your previous cell, make changes, and RE-RUN your code and then this cell.
mixers = ["cranberry juice", "lime juice", "lemonade", "kool-aid", "red bull"]
fruits = ["watermelon", "pineapple", "lime", "lemon", "cherry"]
cores = ["sparkling water", "sprite"]
assert( 'df' in vars() ), "Your simulation did not populate a DataFrame variable named `df`."
assert( len(df) == 10000 ), "The length of your `df` is not 10000, check the value in your for-loop declaration."
assert( len(df.columns.to_list()) == 3 ), "Your DataFrame should contain 3 columns!"
assert( 'mixer' in df ), "Your DataFrame is missing a `mixer` column."
assert( 'fruit' in df ), "Your DataFrame is missing a `fruit` column."
assert( 'core' in df ), "Your DataFrame is missing a `core` column."
for m in mixers:
    assert ( m in list(df['mixer']) ), f"Your DataFrame is missing the mixer {m}."
for f in fruits:
    assert ( f in list(df['fruit']) ), f"Your DataFrame is missing the fruit {f}."
for c in cores:
    assert ( c in list(df['core']) ), f"Your DataFrame is missing the core {c}."

assert( len(set(df['core'])) == 5 ), "Your DataFrame does not return five unique core components."

## == SUCCESS MESSAGE ==
# You will only see this message (with the emoji showing) if you passed all test cases:
tada = "\N{PARTY POPPER}"
print(f"{tada} All tests passed! {tada}")

ðŸŽ‰ All tests passed! ðŸŽ‰

## Estimated Probability of Red Bull!

Many people feel the combination of energy drinks with other drinks is gross! Calculate the estimated probability that a randomly created drink has **red bull and sprite** or **red bull and sparkling water** in the variable `P_redBullCombo`. Use your simulation data to do this!

In [21]:
redBullCombo = df[(df["mixer"] == "red bull") & ((df["core"]=="sprite")|(df["core"] == "sparkling water"))]
redBullCombo
P_redBullCombo = len(redBullCombo)/10000
P_redBullCombo

0.0758

## Estimated Probability of a True Mocktail

Karle is incredibly suspicious of the extra ingredients you picked for her, so we consider a "true mocktail" to be a drink made with a core of `"sparkling water"` or `"sprite"` only.  Calculate the estimated probability that a randomly created drink is a "true mocktail" the variable `P_trueMocktail`:

In [25]:
trueMocktail = df[(df["core"]=="sprite")|(df["core"] == "sparkling water")]
P_trueMocktail = len(trueMocktail)/10000
P_trueMocktail

0.4021

### ðŸ”¬ Test Case Checkpoint ðŸ”¬

In [26]:
## == CHECKPOINT TEST CASES: Mocktail Probabilities ==
# - This read-only cell contains test cases for your previous cell.
# - If this cell runs without any errors, you PASSED all test cases!
# - If this cell results in any errors, check your previous cell, make changes, and RE-RUN your code and then this cell.
assert( 0.07 <= P_redBullCombo and 0.095 >= P_redBullCombo ), "You've calculated `P_redBullCombo` incorrectly."
assert( 0.38 <= P_trueMocktail and 0.42 >= P_trueMocktail ), "You've calculated `P_trueMocktail` incorrectly."
'''
NOTE: 
These boundary values were obtained by running 10,000 correct simulations and finding the max, min probability of ALL those runs. 
There is still a chance, albeit *extremely* low, that a student fails this test case with correct code. 
If the value is suspiciously close, try running all cells again. 
'''

## == SUCCESS MESSAGE ==
# You will only see this message (with the emoji showing) if you passed all test cases:
tada = "\N{PARTY POPPER}"
print(f"{tada} All tests passed! {tada}")

ðŸŽ‰ All tests passed! ðŸŽ‰

### Analysis: Using Simulations for Estimated Probabilities

**Q1: Is the probability you calculated of a "true mocktail" the exact probability of a "true mocktail" or is it an estimate?**

*(It is an estimate)*

<hr style="color: #DD3403;">

# Part 2: Using Images - Getting Ready for Project #1

Up until now, we have used **organized, well-structured data** in DISCOVERY.  However, data can be found everywhere and, in this lab, we'll begin to explore the data that does come to us in a CSV!

Specifically, let's look at an **image**!  A computer represents an image as a 2D grid of **pixels** where each pixel is a single color.  Each dot on your computer's screen a pixel, so here's a **really small** image that is 3 pixels by 3 pixels: ![sample image](./notebook-images/sample.png)

Here is the that same 3x3 image, **zoomed in at 50x**:

![Color](./notebook-images/sample-50x.png)


## Using the DISCOVERY Library

We will need to use Python to help us process large images, but we will use the example 3x3 image to understand how to work with images!  For this lab, we have provided the function for you to load images as a DataFrame.

- Use `import DISCOVERY` to import the DISCOVERY library
- Use `DISCOVERY.df_image("sample.png")` to load the image and return the data in the form of a DataFrame
- Save your image DataFrame you've loaded as `df_pixels`

In [38]:
# Load the image into a DataFrame `df_pixels`:
import DISCOVERY
df_pixels = DISCOVERY.df_image("sample.png")
df_pixels

   x  y    r    g    b
0  0  0    0    0  255
1  0  1    0  255    0
2  0  2  255  255  255
3  1  0  255  255  255
4  1  1    0    0    0
5  1  2  255   85   46
6  2  0  255    0    0
7  2  1  255  255  255
8  2  2   19   41   75

### ðŸ”¬ Test Case Checkpoint ðŸ”¬

In [28]:
## == CHECKPOINT TEST CASES: Using Images ==
# - This read-only cell contains test cases for your previous cell.
# - If this cell runs without any errors, you PASSED all test cases!
# - If this cell results in any errors, check your previous cell, make changes, and RE-RUN your code and then this cell.
assert( len(df_pixels) == 9 ), "The length of your `df_pixels` should be 9 - there's 9 pixels in the sample.png!"
assert( len(df_pixels.columns.to_list() ) == 5 ), "There should be five columns in your `df_pixels`."
for col in ['x', 'y', 'r', 'g', 'b']:
    assert ( col in df_pixels ), f"Your `df_pixels` is missing the {col} column. Make sure you're using the `DISCOVERY.df_image()` function!"

## == SUCCESS MESSAGE ==
# You will only see this message (with the emoji showing) if you passed all test cases:
tada = "\N{PARTY POPPER}"
print(f"{tada} All tests passed! {tada}")

ðŸŽ‰ All tests passed! ðŸŽ‰

## Understanding the DataFrame

In your DataFrame above, every pixel has five values:
- An `x` value, for the **x** (horizontal) position, starting with `0` in the top-left
- A `y` value, for the **y** (vertical) position, starting with `0` in the top-left
- An `r` value, for the amount of **red** color in the image (`0` means no red, `255` means 100% red)
- A `g` value, for the amount of **green** color in the image (`0` - `255`)
- A `b` value, for the amount of **blue** color in the image (`0` - `255`)

In the image above, the top-left cell is blue.  Let's see what that looks like in data:

In [29]:
df_pixels[ (df_pixels.x == 0) & (df_pixels.y == 0) ]

   x  y  r  g    b
0  0  0  0  0  255

...the color value for `(x = 0, y = 0)` is all blue (`b = 255`) with no other colors added.  Moving to the right to `x == 1`:

In [30]:
df_pixels[ (df_pixels.x == 1) & (df_pixels.y == 0) ]

   x  y    r    g    b
3  1  0  255  255  255

...the color value for `(x = 1, y = 0)` is all the colors (`r`, `g` and `b` are all `255`).  Since computers create colors with light ("additive colors"), the combination of all the colors makes a white color.

## Finding all the white pixels

Just above this section, you learned how a white pixel is represented in data.  Create a new DataFrame, `df_white`, that contains all of the white pixels in the sample image:

In [39]:
df_white = df_pixels[(df_pixels.r == 255)&(df_pixels.g == 255)&(df_pixels.b == 255)]
df_white

   x  y    r    g    b
2  0  2  255  255  255
3  1  0  255  255  255
7  2  1  255  255  255

## Finding all the "primarily red" pixels

Find all the pixels that are "primarily red", where a "primarily red" pixel has more red than green **AND** more red than blue.  Store all the "primarily red" pixels in the DataFrame `df_red`.

In [35]:
df_red = df_pixels[(df_pixels.r > df_pixels.g) & (df_pixels.r > df_pixels.b)]
df_red

   x  y    r   g   b
5  1  2  255  85  46
6  2  0  255   0   0

### ðŸ”¬ Test Case Checkpoint ðŸ”¬

In [40]:
## == CHECKPOINT TEST CASES: Finding Pixels ==
# - This read-only cell contains test cases for your previous cell.
# - If this cell runs without any errors, you PASSED all test cases!
# - If this cell results in any errors, check your previous cell, make changes, and RE-RUN your code and then this cell.
assert( 'df_white' in vars() ), "Make sure your DataFrame of white pixels is named `df_white`."
assert( 'df_red' in vars() ), "Make sure your DataFrame of red pixels is named `df_red`."
assert( len(df_white) == 3 ), "Your `df_white` does not contain all three white pixels in the sample image."
assert( (df_white['r'] == 255).all() and (df_white['g'] == 255).all() and (df_white['b'] == 255).all() ), "Your `df_white` contains non-white pixels."
assert( len(df_red) == 2 ), "Your `df_red` does not contain the two 'primarily red' pixels in the sample image."
assert( set(df_red['x'] + df_red['y']) == {2, 3} ), "Your `df_red` does not contain the two 'primarily red' pixels in the sample image."

## == SUCCESS MESSAGE ==
# You will only see this message (with the emoji showing) if you passed all test cases:
tada = "\N{PARTY POPPER}"
print(f"{tada} All tests passed! {tada}")

ðŸŽ‰ All tests passed! ðŸŽ‰

### Analysis: A Certain Area of Pixels

Looking at pixels of a certain color is interesting, but something else we can analyze with this DataFrame is a certain area of pixels!

**Q2: If we wanted to analyze a DataFrame containing only the pixels in a 2x2 grid of pixels -- such as the bottom-right corner of the sample image --  how would you create a subset of the rows in your above DataFrame to only contain those 2x2 pixels?**

*(To create a subset of the DataFrame for a 2x2 grid in the bottom-right corner, I think we can select the row with x = 0,1 and y = 0,1.)*

<hr style="color: #DD3403;">

# Part 3: Your Lab-Specific Image with your TAs and CAs

Before your section, your TA -- with the help of the CAs -- picked an image for you to do analysis on!

- Navigate to the image and save the image to your computer.
- Place the image in the same folder as this lab (`lab_favorites`).
- Load the image into a DataFrame `df`.

In [37]:
# Load the image your TA chose for you into a DataFrame:
df_lab_image = DISCOVERY.df_image("y12.jpg")
df_lab_image

          x    y    r    g    b
0         0    0  235  216  199
1         0    1  235  216  199
2         0    2  236  217  200
3         0    3  235  216  199
4         0    4  233  214  199
...     ...  ...  ...  ...  ...
749995  749  995   53   67  138
749996  749  996   55   69  140
749997  749  997   56   70  141
749998  749  998   56   70  141
749999  749  999   55   69  140

[750000 rows x 5 columns]

## Primary "Primary Color"

Using the idea of "primary red" pixels, we will extend the idea to "primary red", "primary green", or "primary blue".  In the following three sections, find the **percentage of pixels** that are primarily red, green, and blue, storing them **as decimals** in `percent_r`, `percent_g`, and `percent_b`:

In [41]:
# Find the percentage of primarily red pixels:
red = df_lab_image[(df_lab_image.r > df_lab_image.g) & (df_lab_image.r > df_lab_image.b)]
percent_r = len(red)/len(df_lab_image)
percent_r

0.695764

In [42]:
# Find the percentage of primarily green pixels:
green = df_lab_image[(df_lab_image.g > df_lab_image.r) & (df_lab_image.g > df_lab_image.b)]
percent_g = len(green)/len(df_lab_image)
percent_g

0.001308

In [43]:
# Find the percentage of primarily blue pixels:
blue = df_lab_image[(df_lab_image.b > df_lab_image.g) & (df_lab_image.b > df_lab_image.r)]
percent_b = len(blue)/len(df_lab_image)
percent_b

0.2949426666666667

### ðŸ”¬ Test Case Checkpoint ðŸ”¬

In [44]:
## == CHECKPOINT TEST CASES: Finding Percentages ==
# - This read-only cell contains test cases for your previous cell.
# - If this cell runs without any errors, you PASSED all test cases!
# - If this cell results in any errors, check your previous cell, make changes, and RE-RUN your code and then this cell.
assert( isinstance(percent_r, float) and isinstance(percent_g, float) and isinstance(percent_b, float) ), "Your percentages of r, g, b pixels should be decimal (float) variables."
assert( percent_r >= 0 and percent_r <= 1 ), "The percentage of red pixels must be between 0 and 1."
assert( percent_g >= 0 and percent_g <= 1 ), "The percentage of green pixels must be between 0 and 1."
assert( percent_b >= 0 and percent_b <= 1 ), "The percentage of blue pixels must be between 0 and 1."
total = percent_r + percent_g + percent_b
assert( total >= 0 and total <= 1 ), "The total of your percentages should be between 0 and 1, not exceeding 1!"

## == SUCCESS MESSAGE ==
# You will only see this message (with the emoji showing) if you passed all test cases:
tada = "\N{PARTY POPPER}"
print(f"{tada} All tests passed! {tada}")

ðŸŽ‰ All tests passed! ðŸŽ‰

## Average Color

Finally, find the average color of the entire image.  The average color will have three components: the average red, the average green, and the average blue.

In [47]:
# Find the average red:
avg_red = df_lab_image['r'].mean()
avg_red

np.float64(153.88834133333333)

In [48]:
# Find the average green:
avg_green = df_lab_image['g'].mean()
avg_green

np.float64(134.39772533333334)

In [49]:
# Find the average blue:
avg_blue = df_lab_image['b'].mean()
avg_blue

np.float64(129.701772)

### ðŸ”¬ Test Case Checkpoint ðŸ”¬

In [50]:
## == CHECKPOINT TEST CASES: Finding Averages ==
# - This read-only cell contains test cases for your previous cell.
# - If this cell runs without any errors, you PASSED all test cases!
# - If this cell results in any errors, check your previous cell, make changes, and RE-RUN your code and then this cell.
assert( isinstance(avg_red, float) and isinstance(avg_green, float) and isinstance(avg_blue, float) ), "Your average pixel color values should be decimal (float) variables."
assert( avg_red >= 0 and avg_red <= 255 ), "The average red value must be between 0 and 255."
assert( avg_green >= 0 and avg_green <= 255 ), "The average green value must be between 0 and 255."
assert( avg_blue >= 0 and avg_blue <= 255 ), "The average blue value must be between 0 and 255."

## == SUCCESS MESSAGE ==
# You will only see this message (with the emoji showing) if you passed all test cases:
tada = "\N{PARTY POPPER}"
print(f"{tada} All tests passed! {tada}")

ðŸŽ‰ All tests passed! ðŸŽ‰

## See the Average Color

Colors are presented in code as a tuple, `rgb(1, 2, 3)`.  Run the following code to see the average color represented as a tuple, and to see a Google search where you can view it yourself!

In [51]:
color = f"rgb({round(avg_red)}, {round(avg_green)}, {round(avg_blue)})"

print(f"Average color: {color}")
color = color.replace(" ", "")
print(f"See it on Google: https://www.google.com/search?q={color}&")

Average color: rgb(154, 134, 130)
See it on Google: https://www.google.com/search?q=rgb(154,134,130)&

### Analysis: Average Color

**Q3: Is the average color you just found the most commonly occurring color?  If not, what does the "average color" tell us?**

*(I think the average color is not the most commonly occurring color. Instead, the average color represents the overall balance of red, green, and blue values across the entire image. It gives a sense of the general tone of the image but does not reflect the specific color that appears most frequently in the image.)*

**Q4: If you added 100 to every `b` value, but kept the other values the same, how do you think the image would change when it's viewed as an image?**

*(The avaerage blue color will be 229, which means the image will look much more blue. Personally, I think brighter or more saturated blue tones would dominate the image, potentially shifting other colors to shades that are more cyan or purple, depending on the original balance of red and green.)*

<hr style="color: #DD3403;">

# Submission

You're almost done!  All you need to do is to commit your lab to GitHub:

1.  âš ï¸ **Make certain to save your work.** âš ï¸ To do this, go to **File => Save All**

2.  After you have saved, exit this notebook and follow the Canvas instructions to commit this lab to your Git repository!

3. Your TA will grade your submission and provide you feedback after the lab is due. :)