<h1 style="text-align: center">
<div style="color: #DD3403; font-size: 60%">Data Science DISCOVERY MicroProject</div>
<span style="">MicroProject: Illini Football</span>
<div style="font-size: 60%;"><a href="https://discovery.cs.illinois.edu/microproject/illini-football-scores/">https://discovery.cs.illinois.edu/microproject/illini-football-scores/</a></div>
</h1>

<hr style="color: #DD3403;">

## Dataset: "illini-football"

The [University of Illinois' Fighting Illini Historical Football Scores Dataset](https://github.com/wadefagen/datasets/tree/master/illini-football) is a dataset maintained on GitHub as part of the [@wadefagen/datasets repository](https://github.com/wadefagen/datasets).  This dataset contains a "collection of final scores of every known Fighting Illini football game since 1892, with data on location, homecoming, and national bowl games," and updated at the end of every season.

The URL for the CSV dataset is:
```
https://raw.githubusercontent.com/wadefagen/datasets/master/illini-football/illini-football-scores.csv
```

Load the dataset into a DataFrame called `df`:

In [2]:
import pandas as pd
df = pd.read_csv("https://raw.githubusercontent.com/wadefagen/datasets/master/illini-football/illini-football-scores.csv")
df

,Season,Date,Location,Opponent,OpponentRank,Result,IlliniScore,OpponentScore,Note
0,2023,11/25/2023,vs.,Northwestern,NaN,L,43.0,45.0,NaN
1,2023,11/18/2023,@,Iowa,16.0,L,13.0,15.0,NaN
2,2023,11/11/2023,vs.,Indiana,NaN,W,48.0,45.0,OT
3,2023,11/4/2023,@,Minnesota,NaN,W,27.0,26.0,NaN
4,2023,10/21/2023,vs.,Wisconsin,NaN,L,21.0,25.0,Homecoming
...,...,...,...,...,...,...,...,...,...
1291,1892,1892-10-29,@,Kansas City A.C.,NaN,W,42.0,0.0,NaN
1292,1892,1892-11-05,vs.,Englewood High,NaN,W,38.0,0.0,NaN
1293,1892,1892-11-16,@,Chicago,NaN,L,4.0,10.0,NaN
1294,1892,1892-11-18,vs.,DePauw,NaN,W,34.0,0.0,NaN
1295,1892,1892-11-24,vs.,Chicago,NaN,W,28.0,12.0,NaN

<hr style="color: #DD3403;">

## Puzzle 1: The Best and Worst Games in History

Since 1892, The University of Illinois has played over 1,200 games of football against 130 different schools!  This dataset reports the final score of the game, with a column for the score of the Illini and a column for score of the Opponent.

In the first puzzle, let's find a few interesting games!


### The Worst Game of Illini Football

Let's consider the "worst" game to be the game where the Illini lost by the most points. *(This is not the game where the opponent scored the most points, but the game where there score had the biggest difference.)

Create a DataFrame df_worst that contains the rows of the greatest score difference. There might be more than one row with the same score difference, so you should use `df.nlargest()` or `df.nsmallest()` to get the rows with the largest score difference. To not drop the duplicates, you can use `keep='all'` as an argument to `df.nlargest()` or `df.nsmallest()`

In [3]:
df["score_difference"] = df["OpponentScore"] - df["IlliniScore"]
df_worst = df.nlargest(1,"score_difference",keep='all')
df_worst

,Season,Date,Location,Opponent,OpponentRank,Result,IlliniScore,OpponentScore,Note,score_difference
69,2018,11/17/2018,vs.,Iowa,NaN,L,0.0,63.0,NaN,63.0
1157,1906,11/17/1906,@,Chicago,NaN,L,0.0,63.0,NaN,63.0

### The Craziest Game of Illini Football

Let's consider the "craziest" game of Illini Football the game where the **most total points** were scored.

Create a DataFrame `df_craziest` that contains just one row of the very craziest game:

In [4]:
df["Total_score"] = df["OpponentScore"] + df["IlliniScore"]
df_craziest = df.nlargest(1,"Total_score")
df_craziest

,Season,Date,Location,Opponent,OpponentRank,Result,IlliniScore,OpponentScore,Note,score_difference,Total_score
165,2010,11/6/2010,@,Michigan,NaN,L,65.0,67.0,NaN,2.0,132.0

### The Best Homecoming Game

In football, the "homecoming game" is a football game played at the team's home stadium and is often accompanied with celebrations all week ("Homecoming Week").  In this dataset, homecoming games are denoted by the `"Note"` column containing the string `"Homecoming"`.

Find the "best" homecoming game, where the Illini won by the most points.  Create a DataFrame `df_homecoming_best` that contains just one row of the best homecoming game:

In [5]:
g = df[(df["Note"] == "Homecoming") & (df["Result"] == "W")]
df_homecoming_best = g.nlargest(1,"IlliniScore")
df_homecoming_best

,Season,Date,Location,Opponent,OpponentRank,Result,IlliniScore,OpponentScore,Note,score_difference,Total_score
590,1973,10/27/1973,vs.,Iowa,NaN,W,50.0,0.0,Homecoming,-50.0,50.0

### 🔬 MicroProject Checkpoint Tests 🔬

In [6]:
### TEST CASE for Puzzle 1: The Best and Worst Games in History
#
# What is this cell?
# - This cell contains test cases for the MicroProject. Even though you can modify this
#   cell, you should treat it like it's a read-only cell since it will be replaced with
#   a fresh version when your code is checked.
#
# - If this cell runs without any error in the output, you PASSED all test cases!
#   We try and make these test cases as useful and complete as possible, but there is
#   a chance your code may be incorrect even though you pass the test cases (these
#   tests should be seen as a way to give you confidence that code you believe is
#   actually correct, not as a robust check to catch all possible errors).
#
# - If this cell results in any errors, check you previous cells, make changes, and
#   RE-RUN your code and then re-run this cell.  Keep repeating this until the cell
#   passed with no errors! :)

tada = "\N{PARTY POPPER}"

assert( 'df' in vars() ), "You appear to not have the correct dataset loaded in `df`."
assert( len(df) > 1200 ), "You appear to not have the correct dataset loaded in `df`."
assert( "IlliniScore" in df ), "You appear to not have the correct dataset loaded in `df`."
assert( "OpponentScore" in df ), "You appear to not have the correct dataset loaded in `df`."

assert( 'df_worst' in vars() ), "Puzzle #1 appears incorrect."
assert( len(df_worst) == 2 ), "Puzzle #1 appears incorrect."
assert( 'df_craziest' in vars() ), "Puzzle #1 appears incorrect."
assert( len(df_craziest) == 1 ), "Puzzle #1 appears incorrect."
assert( 'df_homecoming_best' in vars() ), "Puzzle #1 appears incorrect."
assert( len(df_homecoming_best) == 1 ), "Puzzle #1 appears incorrect."

OS = list(df.columns).index("OpponentScore")
IS = list(df.columns).index("IlliniScore")
__tdf = df.dropna(subset=["IlliniScore"])
__tdfh = __tdf[__tdf.Note == "Homecoming"]
assert( df_worst.iloc[0].OpponentScore == __tdf.loc[(__tdf.iloc[:, OS] - __tdf.iloc[:, IS]).sort_values().index].iloc[-1, OS] ), "Puzzle #1 appears incorrect."
assert( df_craziest.iloc[0].OpponentScore == __tdf.loc[(__tdf.iloc[:, OS] + __tdf.iloc[:, IS]).sort_values().index].iloc[-1, OS] ), "Puzzle #1 appears incorrect."
assert( df_homecoming_best.iloc[0].IlliniScore == __tdfh.loc[(__tdfh.iloc[:, OS] - __tdfh.iloc[:, IS]).sort_values().index].iloc[0, IS] ), "Puzzle #1 appears incorrect."
assert( df_homecoming_best.iloc[0].OpponentScore == __tdfh.loc[(__tdfh.iloc[:, OS] - __tdfh.iloc[:, IS]).sort_values().index].iloc[0, OS] ), "Puzzle #1 appears incorrect."

print(f"{tada} All Tests Passed! {tada}")

🎉 All Tests Passed! 🎉

<hr style="color: #DD3403;">

## Puzzle 2: Are Football Scores Higher in Recent Years?

In the Puzzle 1 analysis, most of games you found were recent.  One hypothesis I have is that *"football games have a higher score recently than they did historically"*.  Let's see if we have data to support this!

Since this data goes all the way back to 1892, let's consider:
- "Recent Games" to be all games played in the 2000 season to today,
- "Historic Games" to be all other games (1999 and earlier)

Create two DataFrames, `df_recent` and `df_historic`, to store the recent and historic games:

In [7]:
df_recent = df[df["Season"] >= 2000]
df_recent

,Season,Date,Location,Opponent,OpponentRank,Result,IlliniScore,OpponentScore,Note,score_difference,Total_score
0,2023,11/25/2023,vs.,Northwestern,NaN,L,43.0,45.0,NaN,2.0,88.0
1,2023,11/18/2023,@,Iowa,16.0,L,13.0,15.0,NaN,2.0,28.0
2,2023,11/11/2023,vs.,Indiana,NaN,W,48.0,45.0,OT,-3.0,93.0
3,2023,11/4/2023,@,Minnesota,NaN,W,27.0,26.0,NaN,-1.0,53.0
4,2023,10/21/2023,vs.,Wisconsin,NaN,L,21.0,25.0,Homecoming,4.0,46.0
...,...,...,...,...,...,...,...,...,...,...,...
283,2000,10/21/2000,@,Penn State,NaN,L,25.0,39.0,NaN,14.0,64.0
284,2000,10/28/2000,@,Michigan State,NaN,L,10.0,14.0,NaN,4.0,24.0
285,2000,11/4/2000,vs.,Indiana,NaN,W,42.0,35.0,NaN,-7.0,77.0
286,2000,11/11/2000,vs.,Ohio State,NaN,L,21.0,24.0,NaN,3.0,45.0
287,2000,11/18/2000,@,Northwestern,NaN,L,23.0,61.0,NaN,38.0,84.0

In [8]:
df_historic = df[df["Season"] <= 1999]
df_historic

,Season,Date,Location,Opponent,OpponentRank,Result,IlliniScore,OpponentScore,Note,score_difference,Total_score
288,1999,9/4/1999,vs.,Arkansas State,NaN,W,41.0,3.0,NaN,-38.0,44.0
289,1999,9/11/1999,vs.,San Diego State,NaN,W,38.0,10.0,NaN,-28.0,48.0
290,1999,9/18/1999,@,Louisville,NaN,W,41.0,36.0,NaN,-5.0,77.0
291,1999,9/25/1999,vs.,Michigan State,NaN,L,10.0,27.0,NaN,17.0,37.0
292,1999,10/2/1999,@,Indiana,NaN,L,31.0,34.0,NaN,3.0,65.0
...,...,...,...,...,...,...,...,...,...,...,...
1291,1892,1892-10-29,@,Kansas City A.C.,NaN,W,42.0,0.0,NaN,-42.0,42.0
1292,1892,1892-11-05,vs.,Englewood High,NaN,W,38.0,0.0,NaN,-38.0,38.0
1293,1892,1892-11-16,@,Chicago,NaN,L,4.0,10.0,NaN,6.0,14.0
1294,1892,1892-11-18,vs.,DePauw,NaN,W,34.0,0.0,NaN,-34.0,34.0
1295,1892,1892-11-24,vs.,Chicago,NaN,W,28.0,12.0,NaN,-16.0,40.0

### Average Points Scored

Using your two datasets, find the average **total** points scored in recent games and historic games.

In [9]:
df_recent["Total_score"] = df_recent["OpponentScore"] + df_recent["IlliniScore"]
recent_avg_score = df_recent["Total_score"].mean()
recent_avg_score

C:\Users\BYH\AppData\Local\Temp\ipykernel_15680\626729267.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_recent["Total_score"] = df_recent["OpponentScore"] + df_recent["IlliniScore"]

np.float64(51.92334494773519)

In [10]:
df_historic["Total_score"] = df_historic["OpponentScore"] + df_historic["IlliniScore"]
historic_avg_score = df_historic["Total_score"].mean()
historic_avg_score

C:\Users\BYH\AppData\Local\Temp\ipykernel_15680\565927526.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_historic["Total_score"] = df_historic["OpponentScore"] + df_historic["IlliniScore"]

np.float64(32.67162698412698)

### 🔬 MicroProject Checkpoint Tests 🔬

In [11]:
### TEST CASE for Puzzle 2: Are Football Scores Higher in Recent Years?
#
# What is this cell?
# - This cell contains test cases for the MicroProject. Even though you can modify this
#   cell, you should treat it like it's a read-only cell since it will be replaced with
#   a fresh version when your code is checked.
#
# - If this cell runs without any error in the output, you PASSED all test cases!
#   We try and make these test cases as useful and complete as possible, but there is
#   a chance your code may be incorrect even though you pass the test cases (these
#   tests should be seen as a way to give you confidence that code you believe is
#   actually correct, not as a robust check to catch all possible errors).
#
# - If this cell results in any errors, check you previous cells, make changes, and
#   RE-RUN your code and then re-run this cell.  Keep repeating this until the cell
#   passed with no errors! :)

import math
tada = "\N{PARTY POPPER}"

assert( 'df_recent' in vars() ), "Puzzle #2 appears incorrect."
assert( len(df_recent) > 260 ), "Puzzle #2 appears incorrect."
assert( 'df_historic' in vars() ), "Puzzle #2 appears incorrect."
assert( len(df_historic) == 1008 ), "Puzzle #2 appears incorrect."
assert( len(df_historic) + len(df_recent) == len(df) ), "Puzzle #2 appears incorrect."
__tdfg = __tdf.assign( C = __tdf.apply(lambda row: row["Season"] < 2000, axis=1) ).groupby("C").describe()
assert( math.isclose(recent_avg_score, sum(__tdfg.loc[False].iloc[[17, 25]])) ), "Puzzle #2 appears incorrect."
assert( math.isclose(historic_avg_score, sum(__tdfg.loc[True].iloc[[17, 25]])) ), "Puzzle #2 appears incorrect."

print(f"{tada} Puzzle 2: All Tests Passed! {tada}")

🎉 Puzzle 2: All Tests Passed! 🎉

<hr style="color: #DD3403;">

## Puzzle 3: Create a Bar Chart

Finally, let's create a bar chart of the total number of points per year!

To do this, set up a DataFrame in the following way:
- In your DataFrame `df`, create a column called `TotalScore` for every game.
- Each row must be a **season** of football -- not just a single game.
- Store the DataFrame, that is ready to be graphed, as `df_points_per_season`.

In [12]:
df["TotalScore"] = df["OpponentScore"] + df["IlliniScore"]
df_points_per_season = df.groupby("Season")["TotalScore"].sum().reset_index()
df_points_per_season

     Season  TotalScore
0      1892       332.0
1      1893       262.0
2      1894       248.0
3      1895       243.0
4      1896       184.0
..      ...         ...
127    2019       687.0
128    2020       440.0
129    2021       505.0
130    2022       473.0
131    2023       647.0

[132 rows x 2 columns]

### Create the Graph

Once you have a DataFrame all set up, the plot is the easy part!

In [13]:
df_points_per_season.reset_index().plot.bar(x="Season", y="TotalScore", figsize=(30, 15))

ImportError: matplotlib is required for plotting when the default backend "matplotlib" is selected.

### 🔬 Microproject Checkpoint Tests 🔬

In [16]:
### TEST CASE for Puzzle 3: Create a Bar Chart
# - This read-only cell contains test cases for the microproject.
# - If this cell runs without any error in the output, you PASSED all test cases!
# - If this cell results in any errors, check you previous cells, make changes, and RE-RUN your code and then this cell.

import math
tada = "\N{PARTY POPPER}"

assert( 'df_points_per_season' in vars() ), "Puzzle #3 appears incorrect."
assert( math.isclose(df_points_per_season[ df_points_per_season.Season == 2018 ]["TotalScore"].iloc[0], 785) ), "Puzzle #3 appears incorrect."
assert( math.isclose(df_points_per_season[ df_points_per_season.Season == 2014 ]["TotalScore"].iloc[0], 779) ), "Puzzle #3 appears incorrect."

print(f"{tada} Puzzle 3: All Tests Passed! {tada}")

🎉 Puzzle 3: All Tests Passed! 🎉

<hr style="color: #DD3403;">

## Submission

You're almost done!  All you need to do is to commit your lab to GitHub and run the GitHub Actions Grader:

1.  ⚠️ **Make certain to save your work.** ⚠️ To do this, go to **File => Save All**

2.  After you have saved, exit this notebook and return to https://discovery.cs.illinois.edu/microproject/illini-football-scores/ and complete the section **"Commit and Grade Your Notebook"**.

3. If you see a 100% grade result on your GitHub Action, you've completed this MicroProject! 🎉